.conteudos {
  background-color: $roxo-escuro;
  height: 874px;
  .titulo-conteudos {
    .seletor-conteudo {
      select {
        width: 264px;
        color: white;
        background-color: $roxo-escuro;
        padding: 24px;
        border: none;
        border-bottom: 2px solid #c169ff;
      }
    }
  }
  .mySwiper-conteudos {
    .swiper-wrapper {
      height: fit-content;
      .swiper-slide {
        background-color: $roxo-escuro;
        height: 500px;
        .link-conteudo {
          text-align: left;
          .data {
            padding: 23px 0 14px 0;
          }
        }
      }
    }
  }
}
