.conheca {
  background-color: $roxo-escuro;
  height: 725px;
  background-image: url(assets/images/leao.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  transition: all 1s ease-in-out;
  &.leao-lado {
    background-position: left;
  }
  .container-conheca {
    height: 100%;
    .divisao {
      height: 100%;
    }
    .parte-texto {
      width: 50%;
      height: 100%;
      transition: all 0.5s ease-in-out;
      .texto-conheca {
        text-align: left;
        .botao-vermelho {
          padding: 25px 65px;
        }
      }
    }
    .parte-swiper {
      transition: all 1s ease-in-out;
      height: 100%;
      width: 50%;
      background-image: url(assets/images/leao-realista.png);
      background-repeat: no-repeat;
      background-size: cover;
      border-left: 2px solid $vermelho;
      position: relative;
      transform: translateX(60%);
      &.swiper-aberto {
        transform: translateX(10%);
        width: 100% !important;
        transition: all 1s ease-in-out;
      }
      .mais {
        position: absolute;
        top: 50%;
        left: -37px;
        z-index: 10;
        cursor: pointer;
        gap: 15px;
        img {
          transition: all 1s ease-in-out;
        }
        .palavra {
          transition: all 1s ease-in-out;
          p {
            margin: 0;
          }
          .voltar {
            display: none;
          }
        }
        &.abrido {
          img {
            transform: rotate(45deg);
          }
          .palavra {
            .diferenciais {
              display: none !important;
            }
            .voltar {
              display: block !important;
            }
          }
        }
      }
      .container-swiper {
        .mySwiper-conheca {
          margin: 0 124px;
          h1 {
            padding-bottom: 26px;
          }
          .swiper-slide {
            height: 334px;
            overflow: hidden;
            background: rgba(255, 255, 255, 0.7);
            width: 412px !important;
            backdrop-filter: blur(15px);
            border-radius: 15px;
            border: 2px solid transparent;
            &:hover {
              border: 2px solid $vermelho;
            }
            .conheca-item {
              width: 100%;
              color: #575656;
              padding: 40px;
              text-align: left;
            }
          }
          .setas-conheca {
            gap: 30px;
            padding-top: 35px;
            .conheca-button-prev {
              transform: rotate(90deg);
            }
            .conheca-button-next {
              transform: rotate(-90deg);
            }
          }
        }
      }
    }
  }
}
