.empresas {
  background-image: url(assets/images/empresas-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 700px;
  .container-caixas {
    gap: 33px;
    width: 520px;
    flex-wrap: wrap;
    .divisao-caixas, .divisao-caixas2 {
      gap: 33px;
      width: 100%;
    }
    .caixa-branca {
      height: 204px;
      width: 204px;
      background-color: white;
      backdrop-filter: blur(30px);
      border-radius: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

  }
  .texto-empresas {
    color: white;
    h1 {
      padding-bottom: 25px;
      max-width: 543px;
    }
    .botao-vermelho {
      padding: 25px 50px;
      margin-top: 31px;
      max-width: 543px;
    }
  }
}


@media (max-width: 991.9px) {
  .container-caixas {
    width: 100% !important;
    gap: unset !important;
    flex-wrap: nowrap !important;
    .divisao-caixas, .divisao-caixas2 {
      width: fit-content;
      justify-content: center !important;
    }
  }
  .texto-empresas {
    width: 100% !important;
    p {
      padding-top: 32px;
      width: 75%;
    }
  }
  .swiper-container {
    .swiper-wrapper {
      .swiper-slide {
        height: 170px;
        border-radius: 15px;
      }
    }
  }

  .fale-conosco {
    background-position: bottom;
    .texto-fale-conosco {
      width: 62%;
    }
  }
}