footer {
  background: linear-gradient(270deg, #4e2379 0%, #280f44 100%), #c4c4c4;
  .footer-container {
    min-height: 669px;
    .conteudo-footer {
      color: white;
      a {
        color: white;
        display: block;
      }
      .titulo-footer {
        gap: 25px;
      }
    }
    .politicas {
      .politicas-item {
        gap: 9px;
        a {
          color: white;
        }
        span {
          background-color: white;
          width: 19px;
          height: 2px;
          display: block;
        }
      }
    }
    .direitos {
      color: $lilas;
      gap: 27px;
      p {
      }
    }
    .conteudo-fim {
      padding-top: 150px;
    }
  }
  .voltar-topo {
    height: 60px;
    background-color: $roxo-escuro;
    a {
      gap: 12px;
      color: white;
      p {
        margin: 0;
      }
    }
  }
  .seta-vermelha {
    svg {
      transition: all ease-in-out 0.5s;
    }
  }
  .girar {
    svg {
      fill: $vermelho;
      transform: rotate(180deg);
      path {
        stroke: white;
      }
    }
  }
}

@media (max-width: 991.9px) {
  .footer-container {
    padding: 0 30px;
    .row {
      padding-top: 124px;
    }
    .conteudo-footer {
      padding-bottom: 30px;
      .titulo-footer {
      }
      .link-footer {
        // height: 0;
        // overflow: hidden;
        display: none;
        padding-left: 95px;
        padding-bottom: 80px;
        border-bottom: 2px solid rgba(193, 105, 255, 0.2);
        // transition: all 0.5s ease-in-out;
      }
    }
    .direitos {
      gap: 55px !important;
    }
    .conteudo-fim {
      .politicas {
        order: -1;
        padding-bottom: 68px;
      }
    }
  }
}

@media (max-width: 575.9px) {
  .politicas {
  }
  .direitos {
    p {
      margin: 0;
    }
  }
  .logo-menor {
    order: 1;
    padding-bottom: 39px;
    padding-top: 47px;
  }
}
