header {
  background: linear-gradient(270deg, #4e2379 0%, #280f44 100%), #c4c4c4;
  height: 90px;
  .links-nav {
    .dropdown-nav a{
      color: white !important;
      padding: 28px calc(7.6vw - 61px) 33px;
      border-top: 4px solid transparent;
      &:hover {
        border-top: 4px solid $vermelho;
      }
    }
    .dropdown-nav {
      cursor: pointer;
      .links-dropdown {
        display: none;
        min-height: 441px;
        position: absolute;
        background: linear-gradient(270deg, #4e2379 0%, #280f44 100%), #c4c4c4;
        box-shadow: 0px 4px 200px rgba(78, 35, 121, 0.2);
        left: 0;
        top: 90px;
        width: 100%;
        padding: 0 40px;
        div {
          padding-bottom: 15px;
          color: white;
        }
        a {
          padding: 0;
          font-size: 16;
          font-weight: 300;
        }
        .sub-dropdown {
          padding-top: 90px;
        }
      }
    }
  }
  .menu {
    color: white;
    gap: 10px;
    .burgir {
      height: 24px;
      width: 58px;
      position: relative;
      span {
        height: 4px;
        width: 100%;
        background-color: $vermelho;
        display: block;
        position: absolute;
      }
      .top {
        top: 0;
        transition: all 0.8s ease-in-out;
      }
      .mid {
        top: 10px;
        transition: all 1s ease-in-out;
      }
      .bot {
        bottom: 0;
        transition: all 0.8s ease-in-out;
      }
      &.menu-aberto {
        .top {
          transform: rotate(40deg) translate(12px, 1px);;
        }
        .mid {
          opacity: 0;
        }
        .bot {
          transform: rotate(-39deg) translate(11px, -6px);
        }
      }
    }
    p {
      margin: 0;
    }
  }
}

@media (max-width: 991.9px) {
  .dropdown-nav a:hover {
    border-top: 4px solid transparent !important;
  }
  .itens-nav {
    justify-content: flex-start;
    .logo {
      margin: auto;
    }
    .links-nav {
      position: absolute;
      top: 90px;
      left: 0;
      width: 100%;
      background: linear-gradient(270deg, #4E2379 0%, #280F44 100%), #C4C4C4;
      box-shadow: 0px 4px 200px rgba(78, 35, 121, 0.2);
      display: flex;
      flex-direction: column;
      .dropdown-nav {
        padding: 25px 20px;
        .links-dropdown {
          padding: 0 20px;
          border: 3px solid $vermelho;
          top: 75px;
          div {
            margin: 0;
            padding-bottom: 10px !important;
            gap: 10px;
          }
          .sub-dropdown {
            padding: 15px 0;
            .itens-sub {
              padding: 15px 0;
            }
          }
        }

      }
    }
  }
  .vermelhou {
    background-color: $vermelho;
  }
}

@media (max-width: 575.9px) {
  header {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    .itens-nav {
      justify-content: space-between;
      padding: 0 15px;
      .logo {
        margin: unset;
      }
    }

  }
}
