@import "base/normalize";
@import "base/variaveis";
@import "base/tipografia";
@import "base/base";
@import "base/swiper";
@import "header";
@import "footer";
@import "banner";
@import "vantagens";
@import "conheca";
@import "empresas";
@import "fale-conosco";
@import "conteudos";

.botao-vermelho {
  background-color: $vermelho;
  border-radius: 3px;
  width: fit-content;
  max-height: 70px;
  height: 100%;
  color: white;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 16px;
  gap: 15px;
  svg {
    transform: rotate(-90deg);
  }
  &:hover {
    color: white;
  }
}

.botao-vermelho-nobg {
  border: 2px solid $vermelho;
  border-radius: 3px;
  width: fit-content;
  max-height: 70px;
  height: 100%;
  color: $vermelho;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 16px;
  gap: 15px;
  svg {
    transform: rotate(-90deg);
  }
  &:hover {
    color: $vermelho;
  }
}

.link-blog {
  color: $vermelho;
  padding: 10px;
  border-bottom: 4px solid $vermelho;
  white-space: nowrap;
  &:hover {
    color: $vermelho;
  }
}

@media (max-width: 991.9px) {
  // banner
  .divisao-botoes {
    width: 46px !important;
  }
  // vantagens
  .lista-vantagens {
    padding-right: 0 !important;
  }

  // fale conosco
  .texto-fale-conosco {
    width: 75% !important;
  }
}

@media (max-width: 767.9px) {
  // conheca
  .parte-swiper {
    width: 100% !important;
    border-left: none !important;
    border-top: 2px solid $vermelho;
    transform: translateX(0%) !important;
    .mySwiper-conheca {
      margin: 0 20px !important;
    }
  }
}

@media (max-width: 575.9px) {
  .botao-vermelho,
  .botao-vermelho-nobg {
    min-width: 290px;
    max-width: 290px;
  }
  // banner
  .banner-img {
    background-position: unset;
    padding: 50px 0;
  }
  .texto-banner {
    width: 100% !important;
    h1 {
      font-size: 36px;
    }
    .links-banner {
      gap: 20px;
      .botao-vermelho {
        padding: 25px 50px !important;
        margin-right: 0 !important;
      }
    }
  }
  .setas-banner {
    padding-bottom: 35px;
  }
  // conheca
  .conheca {
    height: fit-content !important;
    padding: 127px 0 0 0;
    background-position: top;
    background-size: 200%;
  }
  .parte-texto {
    width: 100% !important;
    border-bottom: 2px solid $vermelho;
    .texto-conheca {
      display: flex;
      flex-direction: column;
      align-items: center;
      h1 {
        text-align: center;
        font-size: 36px;
      }
      p {
        text-align: center;
      }
      .botao-vermelho {
        padding: 50px 25px;
      }
      padding-bottom: 150px;
    }
  }
  .parte-swiper {
    height: 664px !important;
    width: 100% !important;
    border-left: none !important;
    border-bottom: 2px solid $vermelho;
    transform: translateX(0%) !important;
    // transform: translate(0%, 0%) !important;
    // &.swiper-aberto {
    //   transform: translateY(0%) !important;
    // }
    .container-swiper {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      .swiper {
        overflow: visible !important;
      }
    }
    .mySwiper-conheca {
      margin: 0 !important;
      h1 {
        text-align: center;
      }
      h1 {
        font-size: 36px;
      }
      .itens-swiper-conheca {
        position: absolute;
        top: 50%;
        z-index: 5;
        width: 100%;
        .setas-conheca {
          width: 100%;
        }
      }
      .swiper-slide {
        max-width: 320px;
        .conheca-item {
          h3 {
            width: 63%;
          }
        }
      }
    }
    .mais {
      top: -36px !important;
      left: 50% !important;
      transform: translateX(-50%) !important;
    }
  }
  // vantagens
  .vantagens {
    height: fit-content;
    padding: 55px 0;
  }
  .link-vantagens {
    border: 2px solid #4e2379 !important;
    border-radius: 15px;
  }
  // conteudos
  .titulo-conteudos {
    h1 {
      font-size: 36px;
    }
  }
  // fale conosco
  .texto-fale-conosco {
    width: 100% !important;
    h1 {
      font-size: 36px;
      text-align: center;
    }
    p {
      text-align: center;
    }
    .botoes-fale-conosco {
      .botao-vermelho,
      .botao-vermelho-nobg {
        padding: 25px 30px !important;
      }
    }
  }

  // empresas
  .empresas {
    padding: 105px 0;
    height: fit-content;
  }
  .texto-empresas {
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      font-size: 36px;
    }
    p {
      width: 100% !important;
      text-align: center;
    }
    .botao-vermelho {
      padding: 25px 35px !important;
    }
  }
}
