@import 'base/normalize';
@import 'base/variaveis';
@import 'base/tipografia';
@import 'base/base';
@import 'base/swiper';
@import 'header';
@import 'footer';
@import 'banner';
@import 'vantagens';
@import 'conheca';
@import 'empresas';
@import 'fale-conosco';
@import 'conteudos';


.botao-vermelho {
  background-color: $vermelho;
  border-radius: 3px;
  width: fit-content;
  max-height: 70px;
  height: 100%;
  color: white;
  white-space: nowrap;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  gap: 15px;
  svg {
    transform: rotate(-90deg);
  }
  &:hover {
    color: white;
  }
}

.botao-vermelho-nobg {
  border: 2px solid $vermelho;
  border-radius: 3px;
  width: fit-content;
  max-height: 70px;
  height: 100%;
  color: $vermelho;
  white-space: nowrap;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  gap: 15px;
  svg {
    transform: rotate(-90deg);
  }
  &:hover {
    color: $vermelho;
  }
}